/* Styling for index.html */

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background-color: rgba(0, 100, 255, 0.3);
    margin: auto;
    max-width: 80%;
    position: static;
}

nav ~ section {
    margin: 1% 0% 1% 0%;
}

source + img {
    width: 400px;
    height: 550px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

a:hover {
    background-color: #ffcccc;
}

a:active {
    background-color: #f00;
}

header > h1 {
    color: green;
    text-decoration: underline;
    font-size: 50px;
}

#toc {
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 2.5px;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
}

ol.top3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

@media screen and (min-width: 600px) {
    header h1 {
        color: hsl(50, 50%, 50%);
        text-decoration: underline;
        font-size: 50px;
        padding: 1% 1% 1% 1%;
    }
}

@media screen and (min-width: 2000px) {
    header h1[wow] {
        color: hsla(10, 100%, 50%, 100%);
        text-decoration: underline;
        font-size: 50px;
    }
}