/* Styling for index.html */

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background-color: rgba(0, 100, 255, 0.3);
}

header > h1 {
    color: green;
    text-decoration: underline;
}

#toc {
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 2.5px;
    border-radius: 10px;
    display: inline-block;
}